* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    padding: 10px 10px 0;
    &, &__main {
        border-radius: 4px;
    }
    &__main {
        height: 110px;
    }
}
